.navbar-default{
	background: #fff;
	border-radius: 0;
}
.navbar{
	margin-bottom: 0;
}
.main-btn{
	background: #31aae2;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: 0.3s all;
	color: #fff;
	font-size: 18px;
	border: 0;
	font-family: 'HELVETHAICA';
	&:hover{
		background: #1d94cb;
		color: #fff;
	}
}
#signup-btn{
	background: #4a4a4a;
}
#signup-btn:hover{
	background: #333;
}
#login-btn:hover{
	background: #1d94cb;
}
.navbar-right>li>a{
	padding: 10px 5px;
}
.navbar-brand{
	height: auto;
	border-right: 1px solid #f1f1f1;
}
.navbar-default{
	border-color: #f1f1f1;
	font-family: 'HELVETHAICA';
	font-size: 25px;
}
.main-nav{

}
.navbar-nav{
	padding: 16px;
}
.navbar-right{
	padding: 11px;
	border-left: 1px solid #f1f1f1;
}
.navbar-default .navbar-nav>li>a.active{
	color: #31aae2;
}
.navbar-toggle{
	margin-top: 24px;
}
#btn2{
	position: absolute;
	right: 0;
	top: -25px;
	padding-left: 50px;
	padding-right: 50px;
	color:#31aae1;
	background: #fff;
}
select.form-control {
	border: 1px solid #44A6EA;
	border-radius: 0px;
}

// register
#file-img{
	margin-right: 15px;
}

@media (max-width: 767px) {
	footer #subscribe-box input{
		width: auto;
	}
	#btn2{
		position: initial;
	}
	.navbar-brand{
		padding: 15px 40px;
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		margin-left: 0;
	}
	.navbar-header{
		width: 100%;
	}
	.navbar-brand{
		width: 100%;
		text-align: center;
		padding-bottom: 0;
	}
	.navbar-brand>img{
		display: initial;
	}
	.navbar-brand{
		border: 0;
	}
}
