body{
	color: #4a4a4a;
}
header{
	height: 56px;
	background: #31aae2;
	.notification{
		margin-right: 10px;
		position: relative;
		.badge{
			position: absolute;
			top: -10px;
			left: 10px;
			padding: 5px;
			border-radius: 50%;
			background: red;
			color: #fff;
		}
	}
}
#profile-img{
	// border-radius: 50%;		
}
#header-profile{
  padding: 30px 0 30px 0;
  font-family: 'muliregular' !important;
	.min-profile{
	  padding: 3px 0;
	  font-family: 'muliregular' !important;
		h1{
		  font-size: 30px;
		  font-family: 'muliregular' !important;
		  font-weight: bold;
		}
	  h2 {
		font-family: 'muliregular' !important;
		font-size: 16px;
		padding: 10px 0;
		color: #4e4e4e;
		letter-spacing: 4px;
		}
		a{
			color: #31aae2;
			font-size: 20px;
		}
	}
}
#top-bar{
	padding: 10px 0;
	color: #656565;
  font-family: 'muliregular';
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
	.viewer{
		padding: 4px 0px;
		font-size: 20px;
		span{
			margin-right: 10px;
		}
		i{
			margin-right: 10px;
			font-size: 25px;
			position: relative;
			top: 2px;
		}
	}
	.profile-menu{
		margin: 0;
		padding: 0;
		li{
			float: left;
			list-style: none;
		  font-size: 14px;
			padding: 0 20px;
			text-transform: uppercase;
			a{
				color: #656565;
			}
			a:hover{
				color: #333;
			}
		}
	}
}
.contact-box{
	padding: 30px 0;
	font-size: 16px;
	p{
		margin: 5px 0;
	}
}
.contact-form{
	input,textarea{
		padding: 20px;
		width: 100%;
		margin-top: 30px;
		border: 2px solid #fafafa;
	}
	textarea{
		height: 200px;
		margin-bottom: 20px;
	}
}

.social-count {
  color: #77c7ec;
  margin-bottom: 10px;
}

.sp-btn {
  padding: 10px 30px;
  background: #31aae2;
  color: #fff;
  border: 0;
  transition: 0.3s all;
  margin-top: 60px;
}

.social-digit {
  width: 100px;
  float: left;
  padding-top: 7px;
}

.follow-message-btn {
  float: right;
  margin-top: -60px;
}

.profile-header-link {
  color: #000000 !important;
  font-size: 12px !important;
}

#profile-img {
  width: 100%;
}

.btn.btn-default {
  padding: 5px 8px 8px 8px;
}

@media (max-width: 767px) {
	#profile-img{
		width: 100%;
	}
	#header-profile{
		padding: 20px 0;
	  text-align: center;
		.min-profile{
			padding: 30px 0;
		  text-align: center;
		  .social-count {
			text-align: center;
			display: inline-table;
		  }
		  .profile-header-link {
			display: block;
		  }
		  .follow-message-btn {
			float: none;
			margin-top: -25px;
		  }
		}
	}
	.profile-menu{
		li{
			width: 100%;
			text-align: center;
		}
	}

}
