body{
	color: #4a4a4a;
}
header{
	height: 56px;
	background: #31aae2;
	.notification{
		margin-right: 10px;
		position: relative;
		.badge{
			position: absolute;
			top: -10px;
			left: 10px;
			padding: 5px;
			border-radius: 50%;
			background: red;
			color: #fff;			
		}
	}
}
#header-profile{
	padding: 60px 0 30px 0;
	.min-profile{
		padding: 35px 0;
		h1{
			font-size: 60px;		
		}
		a{
			color: #31aae2;
			font-size: 20px;
		}
	}	
}
#top-bar{
	background: #ebebeb;
	padding: 10px 0;
	color: #656565;
	font-family: 'HELVETHAICA';	
	.viewer{
		padding: 10px 25px;
		font-size: 20px;
		i{
			font-size: 25px;
			margin: 0 15px;
			position: relative;
			top: 2px;
		}
	}
	.profile-menu{	
		margin: 0;
		padding: 0;
		li{
			float: left;
			list-style: none;
			font-size: 36px;
			padding: 0 20px;
			text-transform: uppercase;
			a{
				color: #656565;
			}
			a:hover{
				color: #333;
			}
		}
	}	
}
.contact-box{
	padding: 30px 0;
	font-size: 16px;
	p{
		margin: 5px 0;
	}
}
.contact-form{
	input,textarea{
		padding: 20px;
		width: 100%;
		margin-top: 30px;
		border: 2px solid #fafafa;
	}
	textarea{
		height: 200px;
		margin-bottom: 20px;
	}
}
.post{
	.meta{
		padding-top: 30px;
		.meta-detail{
			color: #969595;
		}
	}
	.content{
		padding: 30px 0;
		color: #969595;		
	}
}

@media (max-width: 767px) {
	#profile-img{
		width: 100%;
	}
	#header-profile{
		padding: 20px 0;
		.min-profile{
			padding: 30px 0;
		}
	}
	.profile-menu{
		li{
			width: 100%;
			text-align: center;
		}
	}
}