header {
  border-bottom: 1px solid #f1f1f1;
  padding: 15px; }

footer {
  background: #313131;
  padding: 85px 0 60px 0;
  color: #fff; }
  footer .footer-p {
    font-size: 18px; }
  footer #subscribe-box input {
    background: #4a4a4a;
    border: 0;
    width: 330px;
    padding: 15px 20px;
    outline: none; }
  footer #subscribe-box button {
    background: #31aae2;
    border: none;
    padding: 15px 20px;
    position: relative;
    left: -2px;
    outline: none; }
  footer #subscribe-text {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  footer #subscribe-thank {
    padding: 10px;
    border: 1px solid #fff;
    float: left;
    display: none; }
  footer .social {
    color: #4a4a4a;
    margin-top: 20px;
    font-size: 20px; }

#copyright {
  background: #2d2d2d;
  padding: 30px 0;
  color: #fff;
  border-top: 1px solid #575757; }

a {
  color: #31aae2; }

a:hover {
  color: #1d94cb; }

button {
  transition: 0.3s all;
  outline: none; }

.sp-btn {
  padding: 15px 30px;
  background: #31aae2;
  color: #fff;
  border: 0;
  margin-top: 10px;
  transition: 0.3s all; }
  .sp-btn.big {
    padding: 20px 60px; }

.sp-btn:hover, footer #subscribe-box button:hover {
  background: #1d94cb; }

@font-face {
  font-family: 'HELVETHAICA';
  src: url("/assets/fonts/DBHELVETHAICA.TTF") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'HELVETHAICA';
  src: url("/assets/fonts/DBHELVETHAICA-Bold.TTF") format("truetype");
  font-style: bold; }

.grey {
  color: #969595; }

.relative {
  position: relative; }

.section-header {
  margin-bottom: 40px; }

.disable {
  color: #ddd !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'HELVETHAICA';
  margin: 0;
  letter-spacing: 1px; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

body {
  font-size: 14px; }

.main_color_2 {
  color: #31aae2; }

.active {
  color: #31aae2; }

.thumbnail {
  padding: 0;
  margin: 0;
  background: none;
  border: 0; }

#caption-big-img {
  background: #73c8b7;
  padding: 50px 0;
  color: #fff; }

.sp-section {
  padding: 65px 0; }

.filter span {
  margin-left: 20px; }

.item {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer; }
  .item .cover {
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s all;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .item:hover .cover {
    opacity: 1;
    background-color: rgba(49, 140, 182, 0.8); }
  .item .thumbail {
    height: 260px;
    background: #313131; }
  .item .name {
    font-size: 20px;
    color: #313131; }
  .item a, .item a:hover {
    color: #969595; }
  .item .caption {
    color: #969595;
    padding: 20px 0; }

.icon {
  font-size: 40px !important; }

#member .item:hover .contact {
  background: #31aae2;
  color: #fff; }
  #member .item:hover .contact .fa-long-arrow-right {
    color: #fff; }
  #member .item:hover .contact .arrow-right {
    border-left-color: #31aae2; }

#member .item .thumbail {
  height: 250px; }

#member .item .caption {
  background: #f9f9f9;
  padding: 30px; }

#member .item .cat {
  color: #01b7f2;
  text-transform: uppercase; }

#member .item p {
  margin-top: 25px;
  margin-bottom: 25px; }

#member .item .contact {
  background: #fff;
  float: left;
  position: absolute;
  left: 0;
  bottom: 10px;
  padding: 10px 25px;
  transition: 0.3s all; }
  #member .item .contact .fa-long-arrow-right {
    color: #31aae2;
    margin-left: 20px; }
  #member .item .contact .arrow-right {
    width: 0;
    height: 0;
    right: -45px;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    top: 50%;
    margin-top: -20px;
    transition: 0.3s all; }

.number {
  font-size: 40px; }

#stat {
  border-top: 1px solid #ddd;
  background: #fdfdfd; }

.post .meta {
  padding-top: 30px; }
  .post .meta .meta-detail {
    color: #969595; }

.post .content {
  padding: 30px 0;
  color: #969595; }

/*# sourceMappingURL=app.css.map */
